table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    padding-right: 100px;
    font-family:Arial, Helvetica, sans-serif;

 
    
}
table{
    width: fit-content;
background-color: rgb(34, 179, 5);}
tr{
    padding: 100px;
}

h1{
    text-align: center;
    color: rgb(13, 186, 10);
}
.light{
    background-color: lightgreen;
}
tr{
    font-size: 25px;
    text-align: left;
    padding-right: 500px;
    
}




